<template>
  <el-form :model="form" ref="recipeForm" label-width="120px">
    <el-form-item label="Название рецепта" prop="title">
      <el-input v-model="form.title"></el-input>
    </el-form-item>
    <el-form-item label="Описание рецепта" prop="about">
      <el-input type="textarea" v-model="form.about"></el-input>
    </el-form-item>
    <el-form-item label="Компоненты">
      <el-tag
        v-for="tag in components"
        :key="tag"
        :closable="true"
        :disable-transitions="false"
        @close="handleClose(tag)">
        {{tag}}
      </el-tag>
      <el-input
        class="input-new-tag"
        v-if="inputVisible"
        v-model="inputValue"
        ref="saveTagInput"
        size="mini"
        @keyup.enter.native="handleInputConfirm"
        @blur="handleInputConfirm"
        />
      <el-button v-else class="button-new-tag" @click="showInput">+ компонент</el-button>
    </el-form-item>
    <el-form-item>
      <el-button v-if="id" type="primary" @click="submitForm">Обновить</el-button>
      <el-button v-else type="primary" @click="submitForm">Создать</el-button>
      <el-button @click="resetForm">Сброс</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
export default {
  name: 'RecipeForm',
  props: ['id'],
  data () {
    return {
      form: {},
      inputVisible: false,
      inputValue: '',
      components: []
    }
  },
  mounted () {
    if (this.id) {
      this.form = this.$store.getters['entities/recipes/query']().where('id', this.id).first()
      this.components = this.form.components.split(',')
    } else {
      this.resetForm()
    }
  },
  methods: {
    resetForm () {
      this.components = []
      this.form = {}
    },
    submitForm () {
      let form = this.form
      form.components = this.components.join(',')
      if (form.id) {
        this.$http.put('http://localhost:8000/api/recipes/' + form.id, {
          title: form.title,
          about: form.about,
          components: form.components
        })
        .then(response => {
          this.$store.dispatch('entities/recipes/update', {data: form})
          this.$router.push({name: 'home'})
        })
        .catch(error => {
          console.log(error)
        })
      } else {
        this.$http.post('http://localhost:8000/api/recipes', {
          title: form.title,
          about: form.about,
          components: form.components
        })
        .then(response => {
          this.$store.dispatch('entities/recipes/create', {data: form})
          this.$router.push({name: 'home'})
        })
        .catch(error => {
          console.log(error)
        })
      }
    },
    handleClose (tag) {
      this.components = this.components.filter((item) => {
        return item !== tag
      })
    },
    showInput () {
      this.inputVisible = true
      this.$nextTick(() => {
        this.$refs.saveTagInput.$refs.input.focus()
      })
    },
    handleInputConfirm () {
      let inputValue = this.inputValue
      if (inputValue) {
        this.components.push(inputValue)
      }
      this.inputVisible = false
      this.inputValue = ''
    }
  },
  watch: {
    '$route' (to, from) {
      this.resetForm()
    }
  }
}
</script>

<style lang="scss" scoped>
.el-tag {
  margin-top: 5px;
}

.el-tag + .el-tag {
  margin-left: 10px;
}

.button-new-tag {
  margin-left: 10px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 5px;
}

.input-new-tag {
  width: 90px;
  margin-left: 10px;
  vertical-align: bottom;
  margin-top: 5px;
}
</style>
