<template>
  <div>
    <el-row :gutter="10">
      <el-col>
        <el-input placeholder="Поиск рецептов" v-model="recipeFilter">
          <el-button slot="append" icon="el-icon-search"></el-button>
        </el-input>
      </el-col>
    </el-row>
    <el-row :gutter="10" class="row-bg" justify="space-between">
      <RecipeCard
        v-for="recipe in recipes"
        :key="recipe.id"
        :recipe="recipe"
        />
    </el-row>
  </div>
</template>

<script>
import store from '@/store'
import RecipeCard from '@/components/RecipeCard'

export default {
  store,
  name: 'RecipesMart',
  components: {
    RecipeCard
  },
  data() {
    return {
      recipeFilter: ''
    }
  },
  created () {
    this.$http.get('http://localhost:8000/api/recipes').then(response => {
      this.$store.dispatch('entities/recipes/create', { data: response.data })
    })
    .catch(error => {
      console.log(error)
    })
  },
  computed: {
    recipes: function () {
      if (this.recipeFilter) {
        return this.$store.getters['entities/recipes/query']().where('title', title => title.startsWith(this.recipeFilter)).get()
      } else {
        return this.$store.getters['entities/recipes/query']().all()
      }
    }
  }
}

</script>

<style lang="scss" scoped>
.row-bg {
  padding: 10px 0;
}
</style>
