<template>
  <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="6">
    <el-card>
      <div slot="header">
        <el-row align="middle">
          <span><b>{{ recipe.title }}</b></span>
          <el-button-group style="float: right">
            <el-button type="primary" icon="el-icon-star-on" size="small" @click="markFavorite"></el-button>
            <el-button type="primary" icon="el-icon-edit" size="small" @click="edit"></el-button>
            <el-button type="primary" icon="el-icon-delete" size="small" @click="del"></el-button>
          </el-button-group>
        </el-row>
      </div>
      <div class="about">{{ recipe.about }}</div>
      <div>{{ recipe.components }}</div>
    </el-card>
  </el-col>
</template>

<script>
export default {
  name: 'RecipeCard',
  props: {
    recipe: Object
  },
  methods: {
    markFavorite: function () {
      this.$store.dispatch('addFavoriteRecipe', {recipe: this.recipe})
    },
    edit: function () {
      let id = this.recipe.id
      this.$router.push({ name: 'recipe_edit', params: { id }})
    },
    del: function () {
      this.$http.delete('http://localhost:8000/api/recipes/' + this.recipe.id).then(response => {
        this.$store.dispatch('entities/recipes/delete', { where: this.recipe.id })
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.about {
  margin: 0 0 20px 0;
}

.text {
  font-size: 14px;
}

.item {
  margin-bottom: 18px;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both
}

.el-card {
  margin-bottom: 10px;
}
</style>
