<template>
  <el-container>
    <el-header>
      <el-menu mode="horizontal">
        <el-menu-item index="1"><router-link to="/">Список рецептов</router-link></el-menu-item>
        <el-menu-item index="2"><router-link to="/recipe">Новый рецепт</router-link></el-menu-item>
      </el-menu>
    </el-header>
    <el-container>
      <el-aside v-if="true">
        <el-row>
          <h1>Избраные рецепты</h1>
        </el-row>
        <el-row v-if="!favorites.length" class="empty-list">список пуст</el-row>
        <el-row v-else v-for="i in favorites" :key="i.id" :gutter="0">
          <el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="20">
            <el-card>
              {{ i.title }}
            </el-card>
          </el-col>
          <el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
            <el-button type="primary" icon="el-icon-delete"  size="mini" @click="removeFavorite(i)" />
          </el-col>
        </el-row>
        <el-row v-if="favorites.length">
          <el-button type="primary" icon="el-icon-goods" @click="showBuyList" class="buy-list">Показать список покупок</el-button>
        </el-row>
      </el-aside>
      <el-main>
        <router-view/>
      </el-main>
    </el-container>
  </el-container>
</template>

<script>
import store from '@/store'

export default {
  store,
  name: 'App',
  computed: {
    favorites: function () {
      return this.$store.state.favorites
    }
  },
  methods: {
    removeFavorite: function (recipe) {
      this.$store.dispatch('removeFavoriteRecipe', {recipe: recipe})
    },
    showBuyList: function () {
      const list = this.$store.state.favorites.map(el => el.components).reduce((data, val) => {
        if (!data) {
          data = val
        } else {
          data += ',' + val
        }
        return data
      }).split(',').filter((v, i, a) => a.indexOf(v) === i).join(', ')

      this.$alert(list, 'Список покупок')
    }
  }
}
</script>

<style lang="scss">
$--color-primary: gray;
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import '~element-ui/packages/theme-chalk/src/index';
.buy-list {
  margin: 15px;
}
.empty-list {
  text-align: center;
}
.el-row h1 {
  text-align: center;
}
</style>
